:root {
  /* COLORS */
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navyblue-color: #2e2f42;
  --slate-color: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;

  /* TEXT */
  --bold-font-weight: 700;
  --medium-font-weight: 500;
  --regular-font-weight: 400;

  --body-font-size: 16px;

  --main-letter-spacing: 0.02em;
  --logo-letter-spacing: 0.03em;
  --button-letter-spacing: 0.04em;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--slate-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: var(--main-letter-spacing);
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-color);
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: var(--navyblue-color);
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--navyblue-color);
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* ************************************* */
/* LOGO */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--iris-color);
  text-transform: uppercase;
  letter-spacing: var(--logo-letter-spacing);
}

.logo-studio-header {
  color: var(--navyblue-color);
}

.logo-studio-footer {
  color: var(--cloud-color);
}

/* ************************************** */
/* HEADER */

.nav-link {
  color: var(--navyblue-color);
  font-weight: 500;
  letter-spacing: var(--main-letter-spacing);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  text-decoration: underline;
  color: var(--ocean-color);
}

.address-header {
  font-style: normal;
}
.address-link {
  color: var(--slate-color);
}

.address-link:hover,
.address-link:focus,
.address-link:active {
  text-decoration: underline;
  color: var(--ocean-color);
}

/* ************************************** */
/* HERO */

.hero-section {
  background-color: var(--navyblue-color);
}

.hero-heading {
  letter-spacing: var(--main-letter-spacing);
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: var(--button-letter-spacing);
  background-color: var(--iris-color);
  color: var(--white-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

/* ************************************** */
/* SECTION "VALUES" */

.value-li-heading {
  letter-spacing: var(--main-letter-spacing);
}
.value-li-paragraf {
  letter-spacing: var(--main-letter-spacing);
}

/* ************************************** */
/* SECTION "TEAM" */

.team-section {
  background-color: var(--cloud-color);
}

.team-heading {
  letter-spacing: var(--main-letter-spacing);
}

.team-li {
  background-color: var(--white-color);
}

.team-li-heading {
  letter-spacing: var(--main-letter-spacing);
}

.team-li-paragraph {
  /* font-size: 16px; */
  text-align: center;
}

/* ************************************** */
/* SECTION "PORTFOLIO" */
.portfolio-heading {
  letter-spacing: var(--main-letter-spacing);
}

.portfolio-li-heading {
  text-align: left;
  letter-spacing: var(--main-letter-spacing);
}

.portfolio-li-paragraph {
  letter-spacing: var(--main-letter-spacing);
}

/* ************************************** */
/* FOOTER */

.footer-section {
  background-color: var(--navyblue-color);
}

.footer-paragraph {
  color: var(--cloud-color);
}
